html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./littledeep_illustration_blackboard_style1.png");
    background-repeat: no-repeat;
}

header {
    background-color: rgb(0%, 39.2%, 0%);
    text-align: center;
}

section {
    padding: 1rem;
}

.check {
    text-align: right;
}

.my-img {
    text-align: center;
}

.my-img img {
    background-color: max-width: 70%;
    max-height: 20%;
    visibility: hidden;
}

.ocr-container {
    padding: 1rem;
    background-color: black;
    color: white;
}

.blinking {
    -webkit-animation: blink 0.5s ease-in-out infinite alternate;
    -moz-animation: blink 0.5s ease-in-out infinite alternate;
    animation: blink 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}